/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, cite { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #f68026; color: #fff; text-shadow: none; }
::selection { background: #f68026; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #fafafa; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Coty Beasley
   ========================================================================== */
/* Brand Color */
.green{color:#78a22d;}
.orange{color:#f48026;}
.blue{color:#005a8c;}
.purple{color:#850a70;}
.grey{color:#7f7f7f;}
.white{color:#fafafa;}

/* Globals */
body{background:#fafafa; font-family:Sans-Serif;}
.container {opacity:0;}
section{padding:3em 0 2em; border-top:1px solid #999;}
a, a:visited {text-decoration:none; color:#fff; background-color:#f48026; padding:0 0.1em;}
a:hover {color:#fff; background-color:#7f7f7f;}
a.imgLink, a.imgLink:hover{background:none;}
.basicMarginUnder{margin-bottom:2em;}
h1.secTitle{font-family:arial, helvetica, sans-serif; font-size:3em; letter-spacing:0.1em; color:#666; text-align:center; margin:0 0 1em; padding:0;}
h2{color:#f48026; font-family:arial, helvetica, sans-serif; font-size:1.6em; margin:0 0 1em;}
p{font-family:'Conv_GOTHAM-BOOK', arial, helvetica, sans-serif; font-size:1.2em; color:#666; }

/* Menu/Top Nav */
#menu{margin:0; color:#fff; background-color:#005a8c; max-height:3em; padding:.2em 0; position:fixed; width:100%; text-align:center; opacity:0.98; color:#fff; border-bottom:1px solid #eee; z-index:1; font-family:arial, helvetica, sans-serif;}
#menu a{font-size:0.7em; padding:0 .5em; background:none;}
#menu a:hover{color:#005a8c; background:#fff;}

/* Banner/Header Styles */
header{padding-top:3.2em; text-align:center; overflow:hidden; opacity:0;}
img.header{margin-top:0.4em 0 0; width:100%; max-width:1950px;}

/* What we Do Section */
#whatwedo img{margin:0 auto 1em; display:block;}
#whatwedo h2{text-align:center;}

/* Meet Jody Section */
img.jodycross_portrait{border:4px solid #f48026; max-width:190px; margin:0 auto; display:block;}
#meetjody .video-container{z-index:0; padding-bottom: 53%; border:none;}
#meetjody .column.grid_2 {overflow:visible;}
.moreVideos{margin:0 auto; display: block;}

/* Book Promo Section */
#book .grid_4{overflow:visible;}
.book{margin-top:-2em;}
.updateSignup{background:#005a8c; margin: 2em auto 0; overflow: hidden; width:100%;}
.updateSignup2{background:#F58024; margin: 2em auto 0; overflow: hidden; width:100%;}
.updateSignup .column.grid_8{margin:0 16px 0 0;}
#mc_embed_signup{color:#fafafa;}
#mc_embed_signup form{padding: 10px 0 10px 0;}
#mc_embed_signup p{color:#fafafa; margin:0 0 .5em;}

/* Testimonials Section */
#testimonials cite{padding:2px 2px 0; margin-bottom:1em;}
#testimonials .odd{color:#7f7f7f; background:url(../img/testimonial_outline_bottom.png) center bottom no-repeat #78a22d; padding-bottom:2.3em;}
#testimonials .even{background:url(../img/testimonial_solid_bottom.png) center bottom no-repeat #78a22d; padding-bottom:2.3em;}
.odd .testimonial{background-color:#fafafa; padding:1em;}
.even .testimonial{padding:1em;}
.even .testimonial p, .even .testimonial .author{color:#fafafa;}
.author{text-align:right; display:block; padding-top:0.5em;}
.testimonial p, .testimonial .author{margin:0;}

/* Contact Section */
#contact section{padding:2em 0 0; border-top:none;}
#contact h2{color:#005a8c; font-family:arial, helvetica, sans-serif; font-size:2.5em; letter-spacing:0; margin-bottom:0;}
#contact h3{color:#005a8c; font-family:'Conv_Archer-Bold-Pro', arial, helvetica, sans-serif; font-size:2em; letter-spacing:0; margin:.5em 0 0;}
#contact a, #contact a:visited {background:none;}
.phone, .email {font-size:2em;}
.socialItem{clear:left; margin-top:1.5em;}
.socialItem:last-child{margin-bottom:1.5em;}
.socialItem a, .socialItem a:visited{color:#7f7f7f;}
.socialItem img {float:left; margin-right:0.5em; width:1.5em;}

#contact_form input, #contact_form textarea{width:90%; margin:0.2em 0 0;}
#contact_form textarea{height:10em;}
#contact_form span{display:block; color:#7f7f7f; margin:0.5em 0 0.1em;}
.error{display:block; background:#f48026; color:#fafafa; padding:0.2em 1em; width:86.5%;}
#submit_btn {margin:1em 0 3em; padding:1em 0; color:#fafafa; background:#78a22d; display:block;}
#submit_btn:hover {background:#7f7f7f;}
#message {margin-top: 2em; border-top: 1px solid #999; padding: 1em; background: #78A22D;}
#message h2, #message p{color:#fafafa;}

/* Footer */
footer{background:url(../img/footer_background.png) repeat-x bottom center; height:400px;}
footer .row{height:29.1em;}
footer a, footer a:visited {background:none;}

#thankyou{margin-top: 1em; margin-left:30%;}
#copyright{text-align:center; background:#333; color:#eee; padding:0.5em 0;}
#copyright a{color:#f48026; border-bottom:1px dotted #f48026;}
#copyright a:hover{color:#666; border-bottom:1px dotted #666;}

/* Unify Styles */
.mceContentBody .container{opacity:1;}
.mceContentBody a{}


/*
 * Media queries for responsive design https://github.com/shichuan/mobile-html5-boilerplate/wiki/The-Style
 */


/* Styles for desktop and large screen ----------- */
@media only screen and (min-width: 1281px) {
  /* Styles */
}/*/mediaquery*/

@media only screen and (max-width: 1280px) {
  /* Styles */
  #menu {font-size:1.49em;}
}/*/mediaquery*/

@media only screen and (max-width: 960px) {
  /* Styles */
  #menu {font-size:1.3em;}
}/*/mediaquery*/

@media only screen and (max-width: 800px) {
  /* Styles */
  #menu {font-size:1.2em;}
}/*/mediaquery*/

/* Styles for mobile screens ----------- */

/*styles for 799px and down!*/
@media only screen and (max-width: 760px) {
  /* Styles */
   #menu {font-size:1em;}
   .updateSignup .column.grid_8{margin:0 1em;}
   #mc_embed_signup form{padding: 10px 0 10px 3%;}
   .moreVideos{width:100%;}
}/*/mediaquery*/


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {display:block; position:relative; text-align:left; width:90%;}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold; color:#fafafa;}
#mc_embed_signup input.email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:58%; min-width:130px;}
#mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* == AMAZIUM STYLES == */
/***** Images *****/

	img 									{ border:0; }
	.max-image 								{ height:auto; width:100%}		
	.video-container 						{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc; }
	.video-container iframe,
	.video-container object,  
	.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }

/***** Buttons  *****/
 
	a.btn 									{ margin:5px 0 5px 0; padding:4px 28px 4px 8px; display:inline-block; font-size:11px; color:#fff; border:1px solid #444; background:#333 url(../img/btn-arrow.png) no-repeat right; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; cursor:pointer; text-decoration:none; }
	a:hover.btn 							{ }

/***** Forms *****/

	#stylized-form							{ margin:10px 0 20px 0; padding:20px; background-color:#f4f4f4; -webkit-border-radius:4px; -moz-border-radius:4px; }
	
	.wrapper-block label 					{ padding:0; display:block; font-weight:bold; text-align:right; width:140px; float:left; }
	.wrapper-block [type="text"]			{ font-size:12px; padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px; }
	.wrapper-block select					{ font-size:12px; padding:2px; border:solid 1px #bbbbbb; margin:2px 0 15px 10px; }
	.wrapper-block [type="radio"]			{ line-height:16px; margin:0 2px 15px 10px; }
	.wrapper-block [type="checkbox"]		{ line-height:16px; margin:0 2px 15px 10px; }
	.wrapper-block textarea					{ padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px; font:12px helvetica, arial, sans-serif }
	
	.wrapper-inline label 					{ padding:0; display:block; font-weight:bold; text-align:right; width:140px; float:left; }
	.wrapper-inline [type="text"]			{ font-size:12px; padding:4px 2px; border:solid 1px #bbbbbb; width:200px; margin:2px 0 15px 10px;  float:left; }
	.wrapper-inline select					{ font-size:12px; padding:4px 2px; border:solid 1px #bbbbbb; margin:2px 0 15px 10px; float:left; }
	.wrapper-inline [type="radio"]			{ line-height:16px; margin:0 2px 15px 10px; float:left; }
	.wrapper-inline [type="checkbox"]		{ line-height:16px; margin:0 2px 15px 10px; float:left; }
	.wrapper-inline textarea				{ padding:4px 2px; border:solid 1px #bbbbbb; width:140px; margin:2px 0 15px 10px; font:12px helvetica, arial, sans-serif float:left; }
	
	a.btn-form, input.btn-form				{ margin:5px 0 5px 150px; padding:4px 28px 4px 8px; display:inline-block; font-size:11px; color:#fff; border:1px solid #444; background:#333 url(../img/btn-arrow.png) no-repeat right; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; cursor:pointer; }
	
	.small-label							{ display:block; font-size:10px; font-weight:normal; color:#666; text-align:right; width:140px; }

/***** Tables  *****/

	table									{ margin:0 0 20px 0; width:100%; }
	table th 								{ padding:10px 8px 10px 8px; background-color:#e2e2e2; color:#333; font-weight:bold; border:1px solid #999; }
	table td 								{ padding:10px 8px 10px 8px; background-color:#e2e2e2; color:#333; border:1px solid #999; }
	table tr.even td 						{ background-color:#fff; }
	table tr.odd td 						{ background-color:#f3f3f3; }
	table td.highlight 						{ color:#FFF; font-weight:bold; }
	table tr td.highlight					{ background-color:#333;  }

/***** Back to Top *****/

	#toTop 									{ display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; overflow:hidden; width:51px; height:51px; border:none; text-indent:-999px; background:url(../img/ui.totop.png) no-repeat left top; }
	#toTopHover 							{ background:url(../img/ui.totop.png) no-repeat left -51px; width:51px; height:51px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
	#toTop:active, #toTop:focus 			{ outline:none; }
		
/***** Global Classes *****/

	.img-left   							{ float:left; margin:0 30px 30px 0; border:none; }
	.img-right  							{ float:right; margin:0 0 30px 30px; border:none; }

	.clear       							{ clear:both; }
	.float-left 							{ float:left; }
	.float-right   							{ float:right; }

	.text-big								{ color:#a2bd30; font-weight:bold; line-height:26px; }
	.text-left    							{ text-align:left; }
	.text-right    							{ text-align:right; }
	.text-center   							{ text-align:center; }
	.text-justify  							{ text-align:justify; }

	.normal									{ font-weight:normal; }
	.bold          							{ font-weight:bold; }
	.italic        							{ font-style:italic; }
	.underline     							{ border-bottom:1px solid; }
	.highlight     							{ background:#ffc; }

	.nopadding 						   		{ padding:0; }
	.noindent  						   		{ margin-left:0; padding-left:0; }
	.nobullet  					   			{ list-style:none; list-style-image:none; }

	.block									{ display:block; }
	.hidden									{ display:none; }
	.hide 									{ display:none; }
	
/***** Amazium *****/

	a:link.amazium, a:visited.amazium 		{ margin:20px 0 20px 0; height:22px; line-height:22px; display:block; font-style:italic; text-decoration:none; background:url(../img/amazium.jpg) no-repeat right top; padding:0 30px 0 0; }
	a:hover.amazium, a:active.amazium 		{ height:22px; line-height:22px; display:block; font-style:italic; text-decoration:underline; background:url(../img/amazium.jpg) no-repeat right top; padding:0 30px 0 0; }